  // Variables

$light-grey: #ccc;
$text-color: #222;

$white: #fff;
$dark-purple: rgb(37,23,33);
$med-purple: rgb(63,21,41);
$light-purple: rgb(114,96,108);
$dark-red: rgb(114,22,48);
$light-red: rgb(204,32,44);
$orange: rgb(240,86,57);

$font-opensans: 'Open Sans', sans-serif;
