@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}


*, *:before, *:after {
  box-sizing: inherit;
}


body{
  font-family: $font-opensans;
  background-color: $dark-purple;
  @include zero;
  // Hides close button if there is no js
    &.noscript .close-btn
    &.noscript .toggle-btn{
    display: none;
  }
}

header {
  padding: 0 1em;
  position: relative;
}

h1 {
  color: $white;
}

.toggle-btn{
    position: absolute;
    right: 1em;
    top:0;
}

.navigation{
    @include zero;
    ul{
        padding-left: 0;
        background-color: $med-purple;
    }
    li{
        list-style-type: none;
    a{
        color: $light-purple;
        text-transform: uppercase;
        display: block;
        padding: 1em 1em;
        text-align: center;
        border-bottom: 1px solid $light-purple;
        text-decoration: none;
        }
        &:last-child a{
            border-bottom: none;
        }
        a:hover{
            color: $white;
            @include ease(all, 500ms, ease-in-out);
        }
    }
}

.toggle-btn,
.close-btn{
    margin-left: 10px;
    color: $white;
    height: 40px;
    width: 40px;
    i{
        border: 1px solid $white;
        padding: .5em;
    }
    span{
        @include hide-text;
    }
}



// Sliding Navigation
@media only screen and (max-width: 30em){
//Page should move when nav opens
//only time we will ever use max-width
    body{
        @include zero;
    }
    .site-wrapper{
        position:relative;
        overflow: hidden;
        width: 100%;
        z-index: 100;

        .sliding-canvas{ //before it slides
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateX(0); //slide left and right but by default sit at 0
            @include ease(all, 300ms, ease-in-out); //easing
        } //.sliding-canvas

        &[data-state="slide-open"] .sliding-canvas{ //after it slides
            transform: translateX(-100%);
        }

        &[data-state="slide-open"]{ //after it slides
            overflow: visible;
        }
    }//.site-wrapper

    //Navigation
    .slide-menu{
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 300px;
        margin-top: 0;
        top: 0;
        bottom: 0;
        right: -100%;
    }
}//@media

@media only screen and (min-width: 30em) and (max-width: 60em){
//Page should move when nav opens
//only time we will ever use max-width
    body{
        background-color: $med-purple;
    }
    header {
        padding-top: 20px;
    }
    .site-wrapper{
        position:relative;
        overflow: hidden;
        width: 100%;
        z-index: 100;

        .sliding-canvas{ //before it slides
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateX(0); //slide left and right but by default sit at 0
            @include ease(all, 300ms, ease-in-out); //easing
        } //.sliding-canvas

        &[data-state="slide-open"] .toggle-btn{ //after it slides
            display: none;
        }

        &[data-state="slide-open"] .sliding-canvas{ //after it slides
            transform: translateX(-40%);
        }

        &[data-state="slide-open"]{ //after it slides
            overflow: visible;
        }
    }//.site-wrapper

    .navigation{
    @include zero;
        ul{
        background-color: $med-purple;
        display: block;
        margin: 0;
        padding-top: 0;
        }

        li{
        background-color: $dark-purple;
        list-style-type: none;
        display: block;
        a{
            border-bottom: none;
            display: inline-block;
        }
        a:hover {
            color: $white;
        }
        &:first-child a{
            border: none;
        }
        }
    }

    //Navigation
    .slide-menu{
        background-color: $dark-purple;
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 1000px;
        top: 0;
        bottom: 0;
        right: -100%;
        padding-top: 50px;
    }

    .toggle-btn,
    .close-btn{
        top: 50px;
    }
}//@media


@media only screen and (min-width: 60em){
    body{
        background-color: $dark-purple;
    }

    .toggle-btn,
    .close-btn{
        display:none;
    }
    h1{
    display: inline-block;
    float: left;
    }

    .slide-menu{
        position:static;
        right: auto;
    }

    .navigation{
    @include zero;
        ul{
        background-color: $dark-purple;
        display: inline-block;
        margin: 0;
        padding-top: 30px;
        float: right;
        }

        li{
        list-style-type: none;
        display: inline-block;
        a{
            border-bottom: none;
        }
        a:hover {
            color: $white;
        }
        &:first-child a{
            border: none;
        }
        }
    }

}//media
